//
// Machine-specific configuration. Useful for being lazy, and
// not vendoring tools like Node, Python, and Windows or OSX
// SDKs and compiling tools.
//
// Needs to be configured per machine to account for differences.
//

.MachineConfig =
[
   
]